* {
    margin: 0px;
    padding: 0px;
    font-family: 'segoe UI';
}

body {
    background: #BA8B02;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    margin-left: 5%;
}

.padd {
    padding: 20px;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    height: 250px;
    width: 19%;
    margin-top: 20px;
    background-size: cover;
    flex-wrap: wrap;
}

.overlay {
    height: 250px;
    width: 100%;
    background-color: gray;
}

.opened {
    display: none;
}
